wp-admin/
wp-includes/
wp-content/cache/
wp-content/upgrade/
wp-content/themes/
wp-content/fonts/
wp-content/litespeed/
wp-content/plugins/
wp-content/webtoffee_export/
wp-content/webtoffee_iew_log/
wp-content/webtoffee_import/
wp-content/wishlist-rollback/
wp-content/wps-cache/
__MACOSX/

# ignore log files and databases
wp-content/9311ed484a3d533875185f0584ce60c0.js
*.php
*.icloud
*.xml
*.pdf
*.txt
*.log
*.sql
*.sqlite
*.htaccess
*.tar.gz
*.zip
*.rar
*.txt
*.py
*.po
*.mo
*.md
*.html
*.htm